.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    border-radius:2px;
    width: 80px;
    border: 1px solid gray;
    cursor: pointer;
    border: 1px solid #39c0ff;
}

.BuildControl button:disabled {
    background-color: gray;
    border: 1px solid rgba(109, 109, 109, 0.664);
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: gray;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 80px;
    text-transform: lowercase;
}

.BuildControl .Less {  
    color: gray;
}

.BuildControl .More {
    color: gray;
}

.BuildControl .More:hover,.BuildControl .More:active,
.BuildControl .Less:hover, .BuildControl .Less:active {
    box-shadow: 0 1rem 2rem #00000b3f;
    transform: translateY(-2px);
    transition: all .2s
}